:root {
    --background: #282A36;
    --foreground: #F8F8F2;
    --purple: #BD93F9;
    --raisin-black: #242135;
    --dark-purple: #3c3463;
    --medium-slate-blue: #434E71;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    color: var(--foreground);
    background: transparent;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(circle, var(--dark-purple) 0%, var(--raisin-black) 100%);
    background-size: 300% 300%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: center;
    }

    20% {
        background-position: top left;
    }

    40% {
        background-position: bottom right;
    }

    60% {
        background-position: top right;
    }

    80% {
        background-position: bottom left;
    }

    100% {
        background-position: center;
    }
}

section {
    max-width: 800px;
    margin: 40px auto;
    background: linear-gradient(to right, #191A21, #23252E);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(189, 147, 249, 0.1);
}

h3 {
    font-size: 24px;
    color: var(--purple);
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--purple);
    text-align: center;
}

article {
    margin-bottom: 30px;
    border-left: 4px solid var(--purple);
    padding-left: 20px;
    transition: transform 0.3s ease;
}

article:hover {
    transform: translateY(-3px);
}

h4 {
    font-size: 20px;
    color: var(--foreground);
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    position: relative;
    color: var(--purple);
}

a:hover,
a:focus {
    text-decoration: underline;
    text-decoration-color: var(--purple);
}

pre {
    background: #221C35;
    color: #CCCCCC;
    padding: 15px;
    border-radius: 4px;
    overflow: auto;
}

pre::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

pre::-webkit-scrollbar-track {
    background: #44475A;
    border-radius: 4px;
}

pre::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 4px;
}

code {
    font-family: 'Fira Code', 'Fira Mono', monospace;
}

@media (max-width: 768px) {
    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    body {
        padding: 10px;
    }
}
